:root {
  --red: #ff4d4d;
  --lightRed: #ff6565;
  --purple: #696dfb;
  --lightPurple: #8488f8;
  --hardGrey: #353535;
  --grey: #f4f4f4;
}

.div-container-contact {
  height: 54rem;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey);
}
.div-container-elemnts-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.box-contact{
    width: 60rem;
}
.div-card-contact {
  width: 70rem;
  height: 26rem;
  background-color: #fff;
  margin-top: 2.5rem;
  -webkit-box-shadow: 0px 8px 18px 2px rgba(138, 138, 138, 1);
  -moz-box-shadow: 0px 8px 18px 2px rgba(138, 138, 138, 1);
  box-shadow: 0px 8px 18px 2px rgba(138, 138, 138, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-2-inputs{
    display: flex;
}

.container-img-div-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70rem;
    margin-top: 1rem;
}

.title-text-contact{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--hardGrey);
    margin: 0;
}

.text-contact{
    font-size: 1.5rem;
    width: 30rem;
    color: var(--hardGrey);
}

.img-contact {
  width: 15rem;
  margin-right: 18rem;
}

.field-email{
    width: 10rem;
}

.button-form-contact{
    height: 3rem;
    font-size: 1.3rem;
    color: var(--purple);
    background-color: #fff;
    border: solid 2px var(--purple);
    outline: none;
    margin-top: 1rem;
    width: 14rem;
}
.button-form-contact:hover{
    cursor: pointer;
    background-color: var(--lightPurple);
    color: #fff;
    transition: 800ms;
}
.container-button-form{
    display: flex;
    justify-content: flex-end;
}

/*-----------------------------------------------------------------*/
/*-------------------------*MEDIA QUERIES*-------------------------*/
/*-----------------------------------------------------------------*/

@media (max-width: 600px) {
    .div-container-contact{
        height: 44rem;
    }
    .div-container-elemnts-contact{
        flex-direction: column;
    }
    .img-contact {
        display: none;
    }
      .div-card-contact {
        width: 20rem;
        margin-top: 1rem;
      }
      .box-contact{
        width: 18rem;
    }
    .container-img-div-contact{
        width: 20rem;
        margin-right: 0;
    }
    .text-contact {
        font-size: 1.5rem;
        width: 18rem;
    } 
    .title-text-contact{
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0;
    }
    
    .text-contact{
        font-size: 1.1rem;
        width: 18rem;
    }
    .container-button-form {
        display: flex;
        justify-content: space-around;
    }
    .button-form-contact{
        width: 18rem;
    }
}

